@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Lora:wght@500&family=Orbitron:wght@500&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Nunito&display=swap");

.font-nunito {
  font-family: "Nunito", Helvetica, sans-serif;
}

.font-cabin {
  font-family: "Cabin", Helvetica, sans-serif;
}

.font-orbitron {
  font-family: "Orbitron", Helvetica, sans-serif;
}

.font-lora {
  font-family: "Lora", Helvetica, sans-serif;
}

header div div span.font-exo {
  font-family: "Exo 2", Helvetica, sans-serif;
}

.font-exo {
  font-family: "Exo 2", Helvetica, sans-serif;
}

.logo-2 {
  display: none;
}

.logo-container:hover .logo-1 {
  display: none;
}

.logo-container:hover .logo-2 {
  display: block;
}

img.anime {
  width: auto;
  max-width: 200px;
  max-height: 250px;
  min-height: 250px;
  height: auto;
}

img.animg {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
}

img.animg:hover {
  scale: 102%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(24 24 27);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  background: rgb(229 231 235);
}
